<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ 'assets/css/bootstrap-theme.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/bootstrap-icons.css' | relative_url }}">
  {%- feed_meta -%}

  <link rel="icon" href="{{ 'assets/images/ogpc-favicon-32x32.png' | relative_url }}"
    sizes="32x32" />
  <link rel="icon" href="{{ 'assets/images/ogpc-favicon-192x192.png' | relative_url }}"
    sizes="192x192" />
  <link rel="apple-touch-icon"
    href="{{ 'assets/images/ogpc-favicon-180x180.png' | relative_url }}" />

  {%- include custom-head.html -%}
</head>